Flask==0.12.2
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
cssselect==0.9.1
decorator==3.4.0
gunicorn==18.0
iniparse==0.4
itsdangerous==0.24
pycurl==7.19.3
simplejson==3.2.0
six==1.4.1
beautifulsoup4==4.6.0
requests==2.13.0
